@{
    ViewData["Title"] = "Home Page";
}

<h2>Добро пожаловать в TaskManager!</h2>

<p>Пожалуйста, выберите одно из следующих действий:</p>

<div>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Регистрация</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Авторизация</a>
</div>